In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\lenovo\\Downloads\\customer_shopping_behavior.csv')

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe() #summary of numerical values only

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [9]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns = df.columns.str.replace('(usd)','usd')

In [10]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [11]:
#Age_group col
labels=['Young Adult','Adult','Middle-Age','Senior']
df['age_group']=pd.qcut(df['age'],q = 4 ,labels = labels)

In [12]:
df[['age','age_group']].head(10)

   age    age_group
0   55   Middle-Age
1   19  Young Adult
2   50   Middle-Age
3   21  Young Adult
4   45   Middle-Age
5   46   Middle-Age
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57   Middle-Age

In [13]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [14]:
frequency_mapping = {'Fortnightly':14, 'Weekly':7, 'Annually':365, 'Quarterly':90, 'Bi-Weekly':14,
       'Monthly':30, 'Every 3 Months':90}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [15]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [16]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [17]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [18]:
df=df.drop('promo_code_used',axis=1)

In [19]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [20]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\lenovo\a_python\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\a_python\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\a_python\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\a_python\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\a_python\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\lenovo\a_python\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    username = "root",
    password = "1234",
    host = "localhost",
    port = "",
    database = "customer_behaviour"
    )

cursor = conn.cursor()

# Test query
cursor.execute("SELECT DATABASE();")
print("Connected to:", cursor.fetchone())

conn.close()
#to connect dataframe to sql server

Connected to: ('customer_behaviour',)

In [25]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@localhost/customer_behaviour")
#to upload the dataframe

In [26]:
df.to_sql('customers', engine, if_exists='append', index=False)
#to load the data into sql databse

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'purchase_amount_usd' in 'field list'")
[SQL: INSERT INTO customers (customer_id, age, gender, item_purchased, category, purchase_amount_usd, location, size, color, season, review_rating, subscription_status, shipping_type, discount_applied, previous_purchases, payment_method, frequency_of_purchases, age_group, purchase_frequency_days) VALUES (%(customer_id)s, %(age)s, %(gender)s, %(item_purchased)s, %(category)s, %(purchase_amount_usd)s, %(location)s, %(size)s, %(color)s, %(season)s, %(review_rating)s, %(subscription_status)s, %(shipping_type)s, %(discount_applied)s, %(previous_purchases)s, %(payment_method)s, %(frequency_of_purchases)s, %(age_group)s, %(purchase_frequency_days)s)]
[parameters: [{'customer_id': 1, 'age': 55, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount_usd': 53, 'location': 'Kentucky', 'size': 'L', 'color': 'Gray', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Middle-Age', 'purchase_frequency_days': 14}, {'customer_id': 2, 'age': 19, 'gender': 'Male', 'item_purchased': 'Sweater', 'category': 'Clothing', 'purchase_amount_usd': 64, 'location': 'Maine', 'size': 'L', 'color': 'Maroon', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'previous_purchases': 2, 'payment_method': 'Cash', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Young Adult', 'purchase_frequency_days': 14}, {'customer_id': 3, 'age': 50, 'gender': 'Male', 'item_purchased': 'Jeans', 'category': 'Clothing', 'purchase_amount_usd': 73, 'location': 'Massachusetts', 'size': 'S', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 23, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle-Age', 'purchase_frequency_days': 7}, {'customer_id': 4, 'age': 21, 'gender': 'Male', 'item_purchased': 'Sandals', 'category': 'Footwear', 'purchase_amount_usd': 90, 'location': 'Rhode Island', 'size': 'M', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.5, 'subscription_status': 'Yes', 'shipping_type': 'Next Day Air', 'discount_applied': 'Yes', 'previous_purchases': 49, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}, {'customer_id': 5, 'age': 45, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount_usd': 49, 'location': 'Oregon', 'size': 'M', 'color': 'Turquoise', 'season': 'Spring', 'review_rating': 2.7, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 31, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Annually', 'age_group': 'Middle-Age', 'purchase_frequency_days': 365}, {'customer_id': 6, 'age': 46, 'gender': 'Male', 'item_purchased': 'Sneakers', 'category': 'Footwear', 'purchase_amount_usd': 20, 'location': 'Wyoming', 'size': 'M', 'color': 'White', 'season': 'Summer', 'review_rating': 2.9, 'subscription_status': 'Yes', 'shipping_type': 'Standard', 'discount_applied': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle-Age', 'purchase_frequency_days': 7}, {'customer_id': 7, 'age': 63, 'gender': 'Male', 'item_purchased': 'Shirt', 'category': 'Clothing', 'purchase_amount_usd': 85, 'location': 'Montana', 'size': 'M', 'color': 'Gray', 'season': 'Fall', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 49, 'payment_method': 'Cash', 'frequency_of_purchases': 'Quarterly', 'age_group': 'Senior', 'purchase_frequency_days': 90}, {'customer_id': 8, 'age': 27, 'gender': 'Male', 'item_purchased': 'Shorts', 'category': 'Clothing', 'purchase_amount_usd': 34, 'location': 'Louisiana', 'size': 'L', 'color': 'Charcoal', 'season': 'Winter', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'previous_purchases': 19, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}  ... displaying 10 of 3900 total bound parameter sets ...  {'customer_id': 3899, 'age': 44, 'gender': 'Female', 'item_purchased': 'Shoes', 'category': 'Footwear', 'purchase_amount_usd': 77, 'location': 'Minnesota', 'size': 'S', 'color': 'Brown', 'season': 'Summer', 'review_rating': 3.8, 'subscription_status': 'No', 'shipping_type': 'Express', 'discount_applied': 'No', 'previous_purchases': 24, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Adult', 'purchase_frequency_days': 7}, {'customer_id': 3900, 'age': 52, 'gender': 'Female', 'item_purchased': 'Handbag', 'category': 'Accessories', 'purchase_amount_usd': 81, 'location': 'California', 'size': 'M', 'color': 'Beige', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'No', 'shipping_type': 'Store Pickup', 'discount_applied': 'No', 'previous_purchases': 33, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Quarterly', 'age_group': 'Middle-Age', 'purchase_frequency_days': 90}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)